<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'header_files.html' %}
    <meta charset="UTF-8">
  <title>Wortschatz</title>

</head>
<body onload="select_header('topnav_show_words')">
{% include 'header.html' %}
<P>Wörter</P>

{% if wps : %}

<BR>
<table border="1">
    <CAPTION>Wörter</CAPTION>

    <tr>
        <th>Wort</th>
        <th>Anzahl</th>
        <th>Formen</th>
        <th>Synonyme</th>


      </tr>

        {% for _ in wps : %}

            <tr>

                <td >{{_.word}}</A></td>
                <td >{{_.count}}</A></td>
                <td >{{_.forms}}</A></td>
                <td >{{_.simw}}</A></td>

            </tr>
        {% endfor %}
    </table>

<BR>
{% endif %}
{% include 'footer.html' %}
</body>
</html>