<!DOCTYPE html>
<html lang="en">
<head>
{% include 'header_files.html' %}
  <meta charset="UTF-8">
  <title>Number of Clusters</title>

</head>
<body onload="select_header('topnav_show_clusters')">
{% include 'header.html' %}
<P>Number of clusters</P>
<!--suppress HtmlUnknownTarget -->
<FORM id="clusters_form" ACTION="/bankdomain/show_clusters_submit" METHOD="POST">
    <div class="surrond_form">
    <p>
    <label for="num_clusters" >N Clusters</label>

         <input id="num_clusters" name="num_clusters" value="{{num_clusters | default('')}}"  />
    <P><input type="submit" value="submit"  /></P>

    </div>
 </FORM>


{% if clusters : %}

<BR>
<table border="1">
    <CAPTION>Clusters</CAPTION>

    <tr>
        <th>Cluster</th>
        <th><span>Words in cluster</span></th>


      </tr>

        {% for _ in clusters : %}

            <tr>

                <td > <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
                    {{_.index}}</A></td>

                 <td > <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
                    {{_.words}}</A></td>
            </tr>
        {% endfor %}
    </table>

<BR>
{% endif %}

</body>
</html>