<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'header_files.html' %}
    <meta charset="UTF-8">
  <title>Dictionary</title>

</head>
<body onload="select_header('topnav_show_words')">
{% include 'header.html' %}
<P>Words</P>

{% if wps : %}

<BR>
<table border="1">
    <CAPTION>Words</CAPTION>

    <tr>
        <th>Word</th>
        <th>Count</th>
        <th>Forms</th>
        <th>Synonyms</th>


      </tr>

        {% for _ in wps : %}

            <tr>

                <td >{{_.word}}</A></td>
                <td >{{_.count}}</A></td>
                <td >{{_.forms}}</A></td>
                <td >{{_.simw}}</A></td>

            </tr>
        {% endfor %}
    </table>

<BR>
{% endif %}

</body>
</html>